:root {
  --font-size: 16px;
  --spacing: 22px;
  --margin: 70px;
  --marginmobile: 30px;
}

body {
  background-color: rgb(0, 0, 0);
  margin: 0px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
    position: absolute;
    margin: auto;
    margin-left: 48%;
    color: rgb(253, 115, 138);
    z-index: -1;
    width: 30vw;
    max-width: 40vw;
    height: auto;
    margin-right: 20%;
}

.ascii-arttwo {
  font-family: monospace;
  white-space: pre;
  color: rgb(0, 0, 0);
  width: 200px;
  margin-left: -30%;
  color: #909090;
}



.row {
  display: flex;
  font-size: var(--font-size);
  line-height: var(--spacing);
}

.columnpara {
  flex: 40%;
  margin-right: 100px;
  font-family: "Bebas Neue", cursive;
  font-size: 36px;
  line-height: 40px;
}

.bluehighlight {
  color: #00b2ff;
}

.pinkhighlight {
  color: rgb(253, 115, 138);
}

.column {
  flex: 50%;
  display: block;
}

p {
  color: #909090;
  line-height: 140%;
}

.circle1 {
  border-radius: 10px;
  background-color: #000000;
  width: 300px;
  height: 100px;
  font-family: "Bebas Neue", cursive;
  font-size: 26px;
  color: rgb(191, 191, 191);
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 33px;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}

.circle1:hover{
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.353);
  background-color: rgb(55, 55, 55);
  color: aliceblue;
 
}

/* .circle2 {
  border-radius: 1000px;
  background-color:#E7165D;
  width: 140px;
  height: 140px;
  font-family: "Bebas Neue", cursive;
  font-size: 22px;
  color: black;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 33px;
  margin-top: 33px;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.circle2:hover{
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.353);
  background-color: black;
  color: aliceblue;
}

.circle3 {
  border-radius: 1000px;
  background-color:  #E7B916;
  width: 140px;
  height: 140px;
  font-family: "Bebas Neue", cursive;
  font-size: 22px;
  color: black;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 33px;
  margin-top: 33px;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.circle3:hover{
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.353);
  background-color: black;
  color: aliceblue;
}

.circle4 {
  border-radius: 1000px;
  background-color: #3CC572;
  width: 140px;
  height: 140px;
  font-family: "Bebas Neue", cursive;
  font-size: 22px;
  color: black;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 33px;
  margin-top: 33px;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.circle4:hover{
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.353);
  background-color: black;
  color: aliceblue;
} */


.text12{
  margin: auto;
  padding: auto;
  color: aliceblue;
  text-decoration: none;
}

a:link{text-decoration: none;}

.circlebottom{
  margin-top: 20%;
}
.uppernav {
  display: flex;
}

.uppernav:nth-child(2) {
  justify-content: space-between;
}

.column-2 {
  border-left: 1px solid black;
  padding-left: 18px;
}

.section1 {
  padding: var(--margin);
}

.section2 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: var(--margin);
  padding-top: 60px;
  padding-bottom: 20px;
}

.navbar {
  padding: var(--margin);
  padding-top: 10px;
  padding-bottom: 10px;
}

.hero {
  padding: var(--margin);
  padding-top: 20px;
  padding-bottom: 20px;
  
}

h1 {
  font-size: 250px;
  font-family: "Bebas Neue", cursive;
  line-height: 230px;
  margin: 0px;
  width: 70vw;
}

h3 {
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
  line-height: 110%;
}











@media (max-width: 650px) {
  .row {
    flex-direction: column;
  }
  p {
    font-size: 12px;
  }
  .section2 {
    padding: var(--marginmobile);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .section1 {
    padding: var(--marginmobile);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar {
    padding: var(--marginmobile);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .hero {
    padding: var(--marginmobile);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  h1 {
    font-size: 100px;
    line-height: 90px;
    margin: 0px;
  }
  h3 {
    font-size: 22px;
    line-height: 24px;
    margin: 0px;
  }
  .columnpara {
    margin-right: 0px;
    font-size: 22px;
    line-height: 26px;
  }

  h4 {
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
  }
  .column12{
    display: flex;
    }

    .circle1{
      border-radius: 1000px;
      width: 60px;
      height: 60px;
      margin-top: 10px;
      margin-bottom: 15px;

    }

    .circlebottom{
      margin-top: 0px;
      margin: 0%;
      padding: 0%;
    
    }
  
    .text12{
      font-size: 18px;
    }

    .circle1{
      border-radius: 10px;
      margin-right: 10px;
      width: 100px;
      height: 100px;
    }

    .ascii-art{
      display: none;
    }

    .ascii-arttwo{
      display: none;
    }

    /* .circle2{
      border-radius: 1000px;
      margin-right: 10px;
      width: 60px;
      height: 60px;
    }

    .circle3{
      border-radius: 1000px;
      margin-right: 10px;
      width: 60px;
      height: 60px;
    }

    .circle4{
      border-radius: 1000px;
      margin-right: 10px;
      width: 60px;
      height: 60px; */
    /* } */
}

@media print {
	div {
		background-color: white;
    color: black;
		font-size: 18pt;
		padding: 0in;
	}

  .bluehighlight{
    color: black;
  }

  .pinkhighlight{
    color: black;
  }

  h1{
    color: black;
  }
  
  .ascii-art{
    display: none;
  }
  
  .ascii-arttwo{
    display: none;
  }

  

  .circle1{
    display: none;
  }

}