body{
    background-color: white;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  .circle{
    border-radius: 1000px;
    background-color: brown;
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-left: 48%;
    }