:root {
        --font-size: 16px;
        --spacing: 20px;
}



body{
    background-color: white;
    margin: 70px;
    margin-top: 20px;


}

@media (max-width: 500px) {
	body { margin: 30px; }}

.row {
    display: flex;
    font-size: var(--font-size);
    line-height: var(--spacing);
  }

  @media (max-width: 500px) {
	.row { flex-direction: column; }}


.columnpara{
flex: 50%;
margin-right: 50px;
}

.column{
    flex: 50%;
}



  .circle{
    border-radius: 1000px;
    background-color: brown;
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-left: 48%;
    }

   

    .uppernav{
        display: flex;
    
    }

    .uppernav:nth-child(2){
        justify-content: space-between;
    }

    .column-2{
        border-left: 1px solid black;
        padding-left: 18px;
    }

    .section1{
        padding-left: 20px;
        padding-right: 20px;
    }


